MAX_QUEUE_SIZE=10

SESSION_SECRET=secret
ADMIN_PASSWORD=plain_password_text

# Database configs
DB_USER=db_user
DB_PASSWORD=password
DB_NAME=db_name
DB_HOST=postgres_hsot
DB_PORT=5432

# redis configs
REDIS_HOST=redis host
REDIS_PORT=6379

# Personal Google keys (optional)
GOOGLE_PUBSUB_TOPIC=projects/**
GOOGLE_CLIENT_ID=773177**
GOOGLE_CLIENT_SECRET=GOCS**
GOOGLE_REDIRECT_URI=https://**/auth/gmail/callback

PYTHON_SERVICE_URL=http://python-service:8000
