fastapi
uvicorn
markitdown[docx,pptx]

sentence-transformers
transformers

beautifulsoup4
pydantic
numpy
python-multipart
accelerate

PyMuPDF
pypdf
pdf2image
pytesseract
pillow

opencv-python-headless
easyocr